.member-dashboard
{
    padding: 25px;
    &__title
    {
        font-size: 2rem;
        margin-bottom: 15px;
        font-weight: 700;
        color: rgba(0,0,0,0.80);
    }
    &__body
    {
        .summary
        {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            text-align: center;
            column-gap: 15px;
            &__item
            {
                background-color: #1976D2;
                padding: 15px;
                border-radius: 5px;
                color: #fff;
                .icon
                {
                    .q-icon
                    {
                        font-size: 3rem;
                        margin-bottom: 15px;
                    }
                }  
                .name
                {
                    font-weight: 500;
                } 
            }
        }
        .chart
        {
            margin-top: 25px;
        }
    }
}