.member-dashboard
{
    padding: 25px;
    &__body
    {
        .summary
        {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            text-align: center;
            column-gap: 15px;
            row-gap: 15px;
            &__item
            {
                background-color: #883DFF;
                padding: 15px;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                .icon
                {
                    .q-icon
                    {
                        font-size: 3rem;
                        margin-bottom: 15px;
                    }
                }  
                .name
                {
                    font-weight: 500;
                } 
            }
        }
        .chart
        {
            margin-top: 25px;
        }
    }
}